.first-section-layer {
  background-color: rgba(28,42,56,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.new-account-banner {
  display: flex;
  justify-content: center;
  background-color: #5CB85C;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  padding: 16px;
  margin-bottom: 10px;

  p {
    margin: auto;
  }
}

.index-first-section {
  position: relative;
  color: #fff;
  height: 90vh;
  background-image: url(/images/ang-325.5387f463.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .first-section-main-content {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  }

  .first-section-main-content {
    position: relative;
    padding-left: 100px;
  }

  .modal {
    h4, #myModalLabel, .modal-footer {
      color: #3e3e3e;
    }
    h4 {
      margin-bottom: 35px;
    }
    .modal-footer {
      border: none;
    }
  }

  form {
    input.form-control {
      padding: 25px 15px;
    }

    input.btn {
      font-size: 20px;
      padding: 10px 30px;
    }

    .user_is_over_18 {
      margin-bottom: 30px;

      label.error {
        position: absolute;
        width: 100%;
        padding: 0;
        bottom: -15px;
        left: 0px;
      }
    }
  }

  .modal-header {
    border: none;
    text-transform: uppercase;
  }

  .modal-content {
    padding: 10px 35px;
  }

  h1.main-title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
  }

  h2.secondary-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
  }

  .openSignUpForm {
    width: 360px;
  }

  .user_is_over_18 {
    color: black
  }
}

.index-second-section {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  .second-section-main-column{
    img {
      width: 50%;
    }
  }

  .custom-text {
    line-height: 26px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
  }
}

.index-third-section {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  text-align: center;

  .third-section-main-column {
    h2 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 22px;
      color: #08a91c;
    }

    img {
      width: 50%;
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 16px;
      font-size: 16px;
    }
  }

  .custom-text {
    line-height: 26px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
  }
}

.index-forth-section {
  padding: 30px;
  text-align: center;
  h2 {
    font-weight: 700;
    font-size: 22px;
  }

  img {
    width: 30%;
    max-width: 100%;
  }
}

.index-fifth-section {
  padding: 30px 0;
  text-align: center;

  .fifth-section-content {
    padding: 30px 0;
    border-top: 1px solid #d2d2d2;
  }

  .custom-text {
    line-height: 26px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
  }

  img {
    width: 50%;
  }

  table.table-bordered {
    margin-top: 30px;
    border: 2px solid #494848;

    ul.list {
      text-align: left;

      .green-bullet {
        color: #08a91c;
      }

      .line-through-bullet {
        text-decoration: line-through;
      }
    }

    .pricing-details{
      border-top: 2px solid #494848;
    }

    tr:first-child {
      font-size: 24px;
      font-weight: 700;
    }

    .price {
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 700;
    }

    .pro-plus-plan {
      background-color: #08a91c;
      color: #fff;
    }

    .bussiness-plan {
      background-color: black;
      color: #fff;
    }
  }

  .pricing-card {
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
  .pricing-card:hover {
    transform: scale(1.1);
  }
}

.index-sixth-section {
  padding: 30px;
  color: white;
  background-color: black;
  text-align: center;

  .btn {
    margin-top: 15px;
    background-color: #08a91c;
    color: #fff;
    height: 50px;
    width: 100%;
    max-width: 360px;
    border-radius: 25px;
    font-size: 18px;
    border: none;
  }
}

.index-seventh-section {
  padding-bottom: 30px;
  text-align: center;

  h1 {
    font-size: 9vw;
    margin-bottom: 20px;
  }

  span.fa {
    font-size: 30px;
    margin: 0 10px;
    color: #000;
  }

  .disclaimer-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }
}

.similar_accounts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.similar_account_container {
  border: solid 1px #08a91c;
  border-radius: 3px;
  width: 40%;
  height: 66px;
}
