.prices {
  margin-bottom: 0;
  font-weight: 700;
  text-decoration: line-through;
}

.price-title {
  font-size: 22px;
  font-weight: 600;
}

.price-actual {
  color: #08a91c;
  font-size: 22px;
}

.centered {
  text-align: center;
}

.smaller-input {
  width: 80px;
}

.medium-input {
  width: 300px;
}
