/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "home/index";
@import "home/welcome";
@import "shares/header";
@import "shares/security_certification";
@import "reponsive";

body {
  font-family: 'Montserrat', sans-serif !important;
}

.panel-without-border {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 0;

  .panel-heading {
    border-radius: 0;
    border: 1px solid rgba(36, 35, 35, 0.07);
  }
}

.panel-profile {
  .media-left {
    width: 50%;
  }

  img {
    width: 100%
  }

  .media-body {
    vertical-align: middle;
  }

  .center-block {
    margin-top: 20px;
    border-radius: 0;
  }
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #d2d2d2;
}

.top-image {
  .thumbnail {
    border: none;
  }
}

.users-table {
  img {
    width: 30px;
  }

  .circle-heart {
    padding: 5px;
    background-color: #c1272d;
    color: white;
    border-radius: 50%;
  }

  .circle-comment {
    padding: 5px;
    background-color: #fbb03b;
    color: white;
    border-radius: 50%;
  }

  .circle-check {
    padding: 5px;
    background-color: #09a91c;
    color: white;
    border-radius: 50%;
  }
}

.width100{
  width: 100%;
}

.bold-text {
  font-weight: 700;
}

form {
  .error {
    color: #a94442;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}